#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
data_path = 'Python_study/data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [7]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [17]:
res1 = pd.pivot_table(df, index='Branch', values='Total', aggfunc='sum')
res1

              Total
Branch
A       106200.3705
B       106197.6720
C       110568.7065

In [18]:
branch_with_highest_total = res1['Total'].idxmax()
branch_with_highest_total

'C'

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [19]:
city_with_highest_total = df[df['Branch'] == branch_with_highest_total]['City'].unique()[0]
city_with_highest_total

'Naypyitaw'

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [35]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Quantity', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [37]:
branch_with_highest_invoices = invoices_by_category['Electronic accessories'].idxmax()
branch_with_highest_invoices

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

1. У філіалі якого міста найбільша кількість покупок та найбільша сума чеку реалізована чоловіками, а в якому жінками?
2. Який філіал приносить найбільшу суму чистого доходу?
3. В якому філіалі та за які типи товарів оплачують готівкою, а в якому найчастіше картками та іншими методами оплати?

In [66]:
purchase_count = pd.pivot_table(df, index='Branch', columns='Gender', values='Quantity', aggfunc='count')
purchase_count

Gender  Female  Male
Branch
A          161   179
B          162   170
C          178   150

In [58]:
total_sales = pd.pivot_table(df, index='Branch', columns='Gender', values='Total', aggfunc='sum')
total_sales

Gender     Female        Male
Branch
A       53269.167  52931.2035
B       52928.295  53269.3770
C       61685.463  48883.2435

In [59]:
max_male_purchases = purchase_count['Male'].idxmax()
max_female_purchases = purchase_count['Female'].idxmax()

In [60]:
max_male_sales = total_sales['Male'].idxmax()
max_female_sales = total_sales['Female'].idxmax()

In [61]:
print(f"\nНайбільша кількість покупок чоловіками у філіалі: {max_male_purchases}")
print(f"Найбільша кількість покупок жінками у філіалі: {max_female_purchases}")
print(f"\nНайбільша сума чеків чоловіками у філіалі: {max_male_sales}")
print(f"Найбільша сума чеків жінками у філіалі: {max_female_sales}")

Найбільша кількість покупок чоловіками у філіалі: A
Найбільша кількість покупок жінками у філіалі: C

Найбільша сума чеків чоловіками у філіалі: B
Найбільша сума чеків жінками у філіалі: C

Завдяки цій відповіді ми можемо звернути увагу на те, що жінки найбільше купують у філіали С, це означає, що треба зосередити більше товарів орієнтованих на жінок у цьому філіалі та навпаки.

In [70]:
gross_income = pd.pivot_table(df, index='Branch', values='gross income', aggfunc='sum')
gross_income_max = gross_income['gross income'].idxmax()
gross_income_max

'C'

Резу

In [78]:
payment_analysis = pd.pivot_table(df, index=['Branch', 'Product line'], columns='Payment', values='Invoice ID', aggfunc='count')
max_cash_branch = payment_analysis['Cash'].idxmax()
max_card_branch = payment_analysis['Credit card'].idxmax()
max_ewallet_branch = payment_analysis['Ewallet'].idxmax()
max_payment_branches = pd.DataFrame({
    'Payment Method': ['Cash', 'Credit card', 'Ewallet'],
    'Branch': [max_cash_branch, max_card_branch, max_ewallet_branch],
    'Invoices Count': [
        payment_analysis['Cash'].max(),
        payment_analysis['Credit card'].max(),
        payment_analysis['Ewallet'].max()
    ]
})
max_payment_branches

  Payment Method                   Branch  Invoices Count
0           Cash  (C, Food and beverages)              31
1    Credit card  (B, Food and beverages)              25
2        Ewallet  (A, Home and lifestyle)              26

Результати цього аналізу можуть допомогти у прийнятті рішень щодо збільшення кількості терміналів або вдосконалення процесів для інших способів оплати у конкретних філіалах. Також це може бути корисним у прийнятті рішень щодо рекламних кампаній у тому чи іншому філіалі.